{{#section 'head'}}
    <!-- 구글이 이 페이지를 거부했으면 좋겠다. -->
	<meta name="robots" content='noindex'>
{{/sections}}

<h1> 테스트 페이지 </h1>
J쿼리 추가 테스트 페이지입니다.
{{#section 'jquery'}}
    <script>
	    &('document').ready(function(){
			$('h1').html('jquery works');
			});
	</script>
{{/section}}
